@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #006ada;
  --main-color: #12121c;
  --secondary-bg-color: #222233;
  --secondary-text-color: #88888d;
  --lime-color: #57efb4;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body,
html,
#__next {
  @apply min-h-screen min-w-fit;
}

.my_container {
  @apply container mx-auto px-5 sm:px-2;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.li_padding {
  @apply pt-5 pb-3;
}
li,
a {
  @apply focus:outline-0;
}

body {
  @apply bg-[var(--main-color)] text-white;
}

#__next {
  @apply flex flex-col;
}

main {
  @apply flex-grow;
}
