.wrapper {
  @apply cursor-pointer bg-[var(--main-color)] border border-white border-opacity-20 rounded-lg p-2 placeholder:text-opacity-80 
  hover:border-[var(--primary-bg-color)] focus:outline-0 focus:border-[var(--primary-bg-color)]
   focus:border-opacity-40 focus:shadow focus:shadow-[var(--primary-bg-color)];
  transition: border 0.4s ease, box-shadow 0.4s ease;
}

.error {
  @apply border-red-500 hover:border-red-500 focus:border-red-500 focus:shadow-red-500;
}
