.list {
  @apply flex flex-wrap justify-center 
  mt-14 gap-5
  md:justify-start md:mt-24;
}

.item {
  @apply relative sm:overflow-hidden pt-5 pb-2 px-2 sm:p-5 sm:pb-10 rounded-lg w-full md:max-w-[400px];
  transition: transform 0.3s ease;
}

.item:hover {
  @apply md:scale-105;
}

.item:before {
  content: '';

  @apply absolute bg-white bg-opacity-20 w-full h-[1px] -bottom-2 left-0;
}

.item:hover:after {
  @apply lg:opacity-30;
}

.item:after {
  content: '';
  @apply absolute bg-[var(--primary-bg-color)] blur-2xl opacity-0 w-[110px] h-[150px];
}

.item .text {
  @apply mt-6 flex flex-col gap-4;
}

.item .title {
  @apply text-[24px] font-bold;
}

.desc {
  @apply text-[var(--secondary-text-color)];
}

.item p {
  @apply text-[14px] font-medium;
}

.primary_container {
  @apply md:bg-[var(--secondary-bg-color)];
}

.primary_img {
  @apply bg-[var(--secondary-bg-color)];
}

.item .img {
  @apply p-4 rounded-lg w-fit flex items-center relative;
}
.lime {
  @apply bg-[var(--lime-color)];
}

@media (min-width: 1024px) {
  .item::after {
    top: calc(var(--y, 0) * 1px - 80px);
    left: calc(var(--x, 0) * 1px - 80px);
  }
}
