.wrapper {
  @apply flex flex-col gap-5;
}

.title_wrapper {
  @apply flex flex-col;
}

.title {
  @apply flex flex-col text-2xl sm:text-4xl font-semibold;
}

.sub_title {
  @apply text-[18px] mt-auto;
}
