@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #006ada;
  --main-color: #12121c;
  --secondary-bg-color: #222233;
  --secondary-text-color: #88888d;
  --lime-color: #57efb4;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Regular.ttf') format('truetype');
}

/* for save weight semibold in pdf */
@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  src: url('../assets/fonts/Rubik-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  src: url('../assets/fonts/Rubik-Medium.ttf') format('truetype');
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  @apply bg-[var(--main-color)] text-white;
}

#__next {
  @apply flex min-h-screen min-w-fit flex-col;
}

main {
  @apply flex-grow;
}

.my_container {
  @apply container mx-auto px-5 sm:px-2;
}

.image {
  object-fit: contain;
  position: relative !important;
  height: unset !important;
}

.li_padding {
  @apply pt-5 pb-3;
}
li,
a {
  @apply focus:outline-0;
}
