.modal {
  @apply flex justify-center items-center bg-black bg-opacity-90;
}

.content {
  @apply flex flex-col bg-[var(--secondary-bg-color)] 
  min-w-[200px]
  sm:min-w-[400px]
  md:min-w-[768px]
  p-5 rounded-lg gap-5 max-h-fit overflow-hidden;
}

.content div:first-child {
  @apply mx-auto;
}

.btn_wrapper {
  @apply flex gap-3 justify-end;
}

.content_enter {
  @apply scale-0 -translate-x-4 translate-y-4;
}

.content_enter_active {
  @apply scale-100 translate-x-0 translate-y-0;
  transition: transform 0.3s ease;
}

.content_exit_active {
  @apply scale-0 -translate-x-4 translate-y-4;

  transition: transform 0.3s ease;
}
