.wrapper {
  @apply hidden lg:block;
}

.list {
  @apply flex items-center gap-10 text-[14px] font-bold;
}

.link {
  @apply opacity-50 hover:opacity-100;
  transition: opacity 0.3s ease;
}

.active {
  @apply opacity-100;
}
