.list {
  @apply mt-14 flex flex-wrap 
  justify-center gap-5
  md:mt-24 md:justify-start;
}

.item {
  @apply relative w-full rounded-lg px-2 pt-5 pb-2 sm:overflow-hidden sm:p-5 sm:pb-10 md:max-w-[400px];
  transition: transform 0.3s ease;
}

.item:hover {
  @apply md:scale-105;
}

.item:before {
  content: '';

  @apply absolute -bottom-2 left-0 h-[1px] w-full bg-white bg-opacity-20;
}

.item:hover:after {
  @apply lg:opacity-30;
}

.item:after {
  content: '';
  @apply absolute h-[150px] w-[110px] bg-[var(--primary-bg-color)] opacity-0 blur-2xl;
}

.item .text {
  @apply mt-6 flex flex-col gap-4;
}

.item .title {
  @apply text-[24px] font-bold;
}

.desc {
  @apply text-[var(--secondary-text-color)];
}

.item p {
  @apply text-[14px] font-medium;
}

.primary_container {
  @apply md:bg-[var(--secondary-bg-color)];
}

.primary_img {
  @apply bg-[var(--secondary-bg-color)];
}

.item .img {
  @apply relative flex w-fit items-center rounded-lg p-4;
}
.lime {
  @apply bg-[var(--lime-color)];
}

@media (min-width: 1024px) {
  .item::after {
    top: calc(var(--y, 0) * 1px - 80px);
    left: calc(var(--x, 0) * 1px - 80px);
  }
}
